extends layout

block content
    .reveal
        .slides
            include slides/introduction
            include slides/charisma video
            include slides/what is it
            include slides/why charisma
            include slides/sellers
            include slides/communication
            include slides/cooperation
            include slides/how to
            include slides/trust
            include slides/end