section
    section(data-background='./img/communication1.jpg', data-background-size='50%')
    section(data-background='./img/communication2.jpg', data-background-size='50%')
    section(data-background='./img/communication3.jpg', data-background-size='50%')
    section(data-background='./img/chat wheel.jpg', data-background-size='70%')