section
    section
        h2 Cooperation
        img(src="./img/charisma5.png", width="500px")
        span.fragment
            p Work together, cover your backs together
    section(data-background-video='/videos/portal tv.mp4', data-background-color='#000000')
    section(data-background-video='/videos/portal 2 co op.mp4', data-background-color='#000000')
    section(data-background-video='/videos/portal 2 co op 4.mp4', data-background-color='#000000')
    section
        h2 Dota 2:
        blockquote(cite='http://blog.dota2.com')
            | “Becareful not to make more enemies than the five you're already facing.”