section
    aside.notes
        | How do I increse my carisma?
    section
        h2 How do I increse my carisma?
        img(src="./img/how1.png", width="50%")
        span.fragment
            p Yeah, start by not doing that.
    section
        h2 Fail
        img(src="./img/fail 1.jpg", width="50%")
        span.fragment
            p You are gonna fail, 
                span.fragment a lot.
    section
        h2 Dota 2:
        blockquote(cite='https://dota2.gamepedia.com/g00/Alchemist/Responses?i10c.encReferrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8%3D&i10c.ua=1')
            | “Failure is just another kind of success”
    section
        h2 Trust in yourself
        img(src="./img/trust meme 2.jpg", width="40%")
        span.fragment
            p Be yourself, don't betray yourself.
    section
        h2 Learn from your mistakes
        img(src="./img/learn.png", width="40%")
        span.fragment
            p Improvise. Adapt. Overcome.
    section
        h2 Be in group
        img(src="./img/friends.jpg", width="50%")
        span.fragment
            p Let's fail and learn together!.
    