section
    section(data-background='./img/flex2.jpg', data-background-size='80%')
    section(data-background='./img/billy.jpg', data-background-size='40%')
    section(data-background='./img/slap.jpg', data-background-size='80%')
    section(data-background='./img/flex1.jpeg', data-background-size='45%')
    section(data-background='./img/pawn-stars.jpg', data-background-size='45%')