section
    aside.notes
        | Why do we trust in people?
    section
        h2 Trust
        div(style="display: block")
            img(src="./img/trust1.png", width="300px")
            img(src="./img/trust2.png", width="300px")
        span.fragment
            p In me I trust?
    section(data-background-video='./videos/portal 2 co op 2.mp4', data-background-color='#000000')
    section(data-background-video='./videos/portal 2 co op 3.mp4', data-background-color='#000000')
    section(data-background='./img/trust meme 1.jpg', data-background-size='40%')
    section(data-background='./img/trust meme 2.jpg', data-background-size='40%')