section
    section(data-background='./img/wthcharisma.jpg', data-background-size='45%')
    section
        h2 Charisma
        img(src="./img/charisma4.png", width="500px")
        span.fragment
            p One of the seven S.P.E.C.I.A.L attributes.
            p Thanks to your charimsa you will be able to:
    section
        h2 Convince
        img(src="./img/charisma2.jpg", width="800px")
        span.fragment
            p Persuade someone to do something you would like to do
    section
        h2 No more shyness
        img(src="./img/charisma1.jpg", width="500px")
        span.fragment
            p Speak with no fear
    section
        h2 Trade
        img(src="./img/charisma3.jpg", width="800px")
        span.fragment
            p You can make win-win situations
    section
        h2 Making friends
        img(src="./img/charisma5.png", width="800px")
        span.fragment
            p More people, more fun!
    section
        h2 Leader
        img(src="./img/charisma6.jpg", width="500px")
        span.fragment
            p Prove yourself!