section
    section(data-background='./img/why charisma.jpg', data-background-size='45%')
    section(data-background='./img/ghandi.jpg', data-background-size='80%')
    section(data-background='./img/malala.jpg', data-background-size='80%')
    section(data-background='./img/hitler.jpg', data-background-size='80%')
    section(data-background='./img/churchill.jpg', data-background-size='40%')
    section(data-background='./img/trump.jpg', data-background-size='80%')
    section(data-background='./img/kim.jpg', data-background-size='80%')
    section(data-background='./img/gates.jpg', data-background-size='80%')
    section(data-background='./img/steve-jobs.jpg', data-background-size='80%')
    section(data-background='./img/zuckerber.jpg', data-background-size='80%')    
    section(data-background='./img/elon.jpg', data-background-size='80%')
    section(data-background='./img/car.jpg', data-background-size='80%')
    section(data-background='./img/zuckerber meme.jpg', data-background-size='50%')
    section(data-background='./img/elon meme.png', data-background-size='40%')